<main class="flex items-center justify-center h-screen px-6 md:p-0">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="w-[600px] w-sm-full flex flex-col flex-wrap gap-3"
  >
    <h3 class="text-lg text-center">Criar conta</h3>

    <p-iftalabel>
      <input
        id="email"
        type="text"
        pSize="small"
        pInputText
        formControlName="email"
        placeholder="ex: example@gmail.com"
        class="w-full"
        [ngClass]="
          registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched
            ? 'ng-dirty ng-invalid'
            : undefined
        "
      />
      <label for="email">Email</label>
    </p-iftalabel>

    <p-iftalabel>
      <input
        id="name"
        type="text"
        pSize="small"
        pInputText
        formControlName="name"
        placeholder="ex: Maria Silva"
        class="w-full"
        [ngClass]="
          registerForm.get('name')?.invalid && registerForm.get('name')?.touched
            ? 'ng-dirty ng-invalid'
            : undefined
        "
      />
      <label for="name">Nome Completo</label>
    </p-iftalabel>

    <p-iftalabel>
      <p-input-mask
        id="document"
        formControlName="document"
        placeholder="000.000.000-00"
        mask="999.999.999-99"
        appInputValidation
        class="w-full"
        [ngClass]="
          registerForm.get('document')?.invalid &&
          registerForm.get('document')?.touched
            ? 'ng-dirty ng-invalid'
            : undefined
        "
      />
      <label for="document">CPF</label>
    </p-iftalabel>

    <p-iftalabel>
      <p-input-mask
        id="phone"
        formControlName="phone"
        placeholder="(99) 99999-9999"
        mask="(99) 99999-9999"
        class="w-full"
        [ngClass]="
          registerForm.get('phone')?.invalid &&
          registerForm.get('phone')?.touched
            ? 'ng-dirty ng-invalid'
            : undefined
        "
      />
      <label for="phone">Telefone</label>
    </p-iftalabel>

    <p-iftalabel>
      <p-password
        id="password"
        formControlName="password"
        placeholder="***"
        [feedback]="false"
        styleClass="w-full"
        [ngClass]="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
            ? 'ng-dirty ng-invalid'
            : undefined
        "
      />
      <label for="password">Senha</label>
    </p-iftalabel>

    <p-iftalabel>
      <p-password
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="***"
        [feedback]="false"
        styleClass="w-full"
        [ngClass]="
          registerForm.get('confirmPassword')?.invalid &&
          registerForm.get('confirmPassword')?.touched
            ? 'ng-dirty ng-invalid'
            : undefined
        "
      />
      <label for="confirmPassword">Confirmação de Senha</label>
    </p-iftalabel>

    <p-button
      size="small"
      type="submit"
      label="Criar conta"
      styleClass="w-full"
    />

    <div>
      <p class="text-sm text-center mb-3 text-shadow-gray-500">
        Já possui uma conta?
      </p>

      <a
        routerLink="/login"
        severity="secondary"
        size="small"
        class="w-full"
        pButton
      >
        <span pButtonLabel>Acessar conta</span>
      </a>
    </div>
  </form>
</main>
