<p-stepper [value]="1" class="basis-[50rem]">
  <p-step-list>
    <p-step [value]="1">Seleção de Ingressos</p-step>
    <p-step [value]="2">Confirmação</p-step>
  </p-step-list>
  <p-step-panels>
    <p-step-panel [value]="1">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex gap-30">
          <div class="w-[50%] flex flex-col gap-8">
            @for (ticket of tickets; track $index) {
            <div class="flex justify-between items-center p-4 border rounded">
              <p class="w-[200px]">{{ ticket.description }}</p>
              <p class="w-[100px] font-bold">
                {{ ticket.price | currency : "BRL" : "symbol" }}
              </p>
              <p-inputnumber
                [(ngModel)]="ticketQuantities[ticket.id]"
                [min]="0"
                [showButtons]="true"
                buttonLayout="horizontal"
                spinnerMode="horizontal"
                inputId="vertical"
                [inputStyle]="{ width: '3rem' }"
                (ngModelChange)="updateSelectedTickets(ticket, $event)"
              >
                <ng-template #incrementbuttonicon>
                  <span class="pi pi-plus"></span>
                </ng-template>
                <ng-template #decrementbuttonicon>
                  <span class="pi pi-minus"></span>
                </ng-template>
              </p-inputnumber>
            </div>
            }
          </div>

          <div class="w-[50%] h-full flex flex-col">
            <div class="flex gap-4 items-center">
              <h1 class="text-4xl">Total:</h1>
              <p-tag
                severity="info"
                icon="pi pi-shopping-cart"
                value="{{ totalPrice | currency : 'BRL' : 'symbol' }}"
              />
            </div>

            <div class="flex flex-col mt-6">
              <p class="font-bold text-2xl mb-4">Itens</p>
              @for (selectedTicket of selectedTickets; track $index) {
              <div class="flex gap-2.5 items-center w-full">
                <p>{{ selectedTicket.description }}</p>
                <p>Quantidade: {{ selectedTicket.quantity }}</p>
                <p>
                  Total:
                  {{
                    selectedTicket.quantity * selectedTicket.price
                      | currency : "BRL" : "symbol"
                  }}
                </p>
              </div>
              <p-divider />
              }
            </div>
          </div>
        </div>

        <div class="flex justify-end mt-4">
          <p-button
            label="Próximo"
            (click)="activateCallback(2)"
            icon="pi pi-arrow-right"
            iconPos="right"
          />
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="2">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col gap-4">
          <h1 class="text-2xl font-bold">Confirmação de Compra</h1>
          <p>Você está prestes a comprar os seguintes ingressos:</p>
          @for (selectedTicket of selectedTickets; track $index) {
          <div class="flex justify-between items-center p-4 border rounded">
            <p>{{ selectedTicket.description }}</p>
            <p>
              Quantidade: {{ selectedTicket.quantity }} - Total:
              {{
                selectedTicket.quantity * selectedTicket.price
                  | currency : "BRL" : "symbol"
              }}
            </p>
          </div>
          }
          <p class="font-bold text-xl mt-4">
            Total Geral:
            <p-tag
              severity="success"
              value="{{ totalPrice | currency : 'BRL' : 'symbol' }}"
            />
          </p>
        </div>

        <p class="mt-4">
          Ao clicar em "Confirmar Compra", você concorda com os termos e
          condições da compra.
        </p>

        <div class="flex justify-end mt-4">
          <p-button
            label="Cancelar"
            (click)="activateCallback(1)"
            class="mr-2"
            severity="danger"
            icon="pi pi-times"
            [outlined]="true"
            iconPos="left"
          />
          <p-button
            label="Confirmar Compra"
            icon="pi pi-check"
            (click)="createOrder()"
            iconPos="right"
            severity="success"
          />
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-panels>
</p-stepper>
