<div class="w-full flex flex-1">
  @if(loading()) {
  <p-skeleton width="800px" height="400px" />
  } @else {
  <img
    src="{{ imagesBaseUrl + event.previewImageUrl }}"
    [alt]="event.title"
    class="w-[50%] h-[400px] object-cover rounded-lg shadow-md"
  />
  }

  <div class="flex flex-col w-[50%] px-4">
    @if(loading()) {
    <p-skeleton width="800px" height="40px" />

    } @else {
    <div class="flex items-center gap-4 justify-between">
      <h1 class="text-4xl font-bold">{{ event.title }}</h1>
      @if(event.status === 'ACTIVE') {
      <p-tag
        value="Em Andamento"
        severity="success"
        [rounded]="true"
        icon="pi pi-check"
      />
      } @else {
      <p-tag
        value="Vendas Encerradas"
        severity="danger"
        [rounded]="true"
        icon="pi pi-times"
      />
      }
    </div>
    }
    <div class="flex gap-5 items-center mt-2">
      @if(loading()) {
      <p-skeleton width="450px" height="30px" />
      } @else {
      <p class="text-gray-400">
        <i class="pi pi-calendar"></i> {{ event.date | date : "dd/MM/yyyy" }}
      </p>
      <p class="text-gray-400">
        <i class="pi pi-map-marker"></i> {{ event.address.street }}
        {{ event.address.number }}, {{ event.address.city }} -
        {{ event.address.state }}
      </p>
      <p class="text-gray-400">|</p>
      <p-tag
        severity="info"
        value="{{ event.eventCategoryName }}"
        [rounded]="true"
      />
      }
    </div>
    @if(loading()) {
    <p-skeleton class="mt-2" width="500px" height="200px" />
    } @else {
    <p class="mt-2">{{ event.description }}</p>
    }

    <div class="w-full flex justify-between mt-4">
      @if (loading()) {
      <p-skeleton width="200px" height="50px" />
      } @else {
      <p-button
        label="Comprar Ingresso"
        [disabled]="event.status !== 'ACTIVE'"
        icon="pi pi-shopping-cart"
        [routerLink]="['/evento-ingresso', event.id]"
      />
      }
    </div>
  </div>
</div>

<section class="mt-12">
  @if(loading()) {
  <p-skeleton width="800px" height="40px" />
  } @else {
  <h2 class="text-xl font-bold mb-4">
    Eventos relacionados a categoria {{ event.eventCategoryName }}
  </h2>
  }
  <div class="flex gap-4 w-full justify-between mt-4">
    @if(loading()) { @for(i of [1, 2, 3, 4, 5]; track $index) {
    <p-skeleton width="300px" height="300px" />
    } } @else { @for (event of eventsSuggested(); track $index) {
     <app-list-event
            [event]="event"
            [imagesBaseUrl]="imagesBaseUrl"
            class="flex-shrink-0"
      ></app-list-event>
    } }
  </div>
</section>
