<main class="flex items-center justify-center h-screen">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="w-[300px] flex flex-col gap-3"
  >
    <h3 class="text-lg text-center">Acessar</h3>
    <input
      pInputText
      id="email"
      pSize="small"
      formControlName="email"
      type="text"
      placeholder="email"
    />

    <p-password
      size="small"
      id="password"
      formControlName="password"
      placeholder="senha"
      styleClass="w-full"
      [toggleMask]="true"
      [feedback]="false"
    />

    <p-button size="small" type="submit" label="Entrar" styleClass="w-full" />

    <div>
      <p class="text-sm text-center mb-3 text-shadow-gray-500">
        Não tem uma conta?
      </p>

      <a
        routerLink="/cadastrar"
        severity="secondary"
        size="small"
        class="w-full"
        pButton
      >
        <span pButtonLabel>Criar conta</span>
      </a>
    </div>
  </form>
</main>
