<header class="flex justify-between items-center p-4 bg-gray-800 text-white">
  <h1 class="text-2xl">Selene</h1>

  <div>
    <p-iconfield class="w-96">
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Procure por um evento" />
    </p-iconfield>
  </div>

  <div class="flex items-center gap-4">
    <i class="pi pi-user" style="font-size: 2rem"></i>

    <div class="flex flex-col">
      <a routerLink="/login" class="text-xs hover:text-gray-400 transition"
        >Entrar</a
      >
      <a routerLink="/register" class="text-xs hover:text-gray-400 transition"
        >Cadastre-se</a
      >
    </div>
  </div>
</header>

<div class="card">
  <p-carousel
    [value]="eventsHighlighted"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
  >
    <ng-template let-event #item>
      <img
        [src]="imagesBaseUrl + event.previewImageUrl"
        [alt]="event.title"
        class="w-full h-120 object-cover rounded"
      />
    </ng-template>
  </p-carousel>
</div>

<section class="container mx-auto my-4">
  <h2 class="text-xl font-bold mb-4">Teatro</h2>
  <div class="flex gap-4 w-full justify-between">
    @for (event of eventsHighlighted; track $index) {
    <div class="p-3 flex flex-col gap-3 rounded shadow">
      <img
        [src]="imagesBaseUrl + event.previewImageUrl"
        [alt]="event.title"
        class="w-68 h-48 object-cover rounded mb-2"
      />
      <div>
        <h3 class="text-lg font-semibold">{{ event.title }}</h3>
        <p>{{ event.date | date : "dd/MM/yyyy" }}</p>
      </div>
      <p-button
        icon="pi pi-info"
        styleClass="p-button-outlined"
        label="Ver Detalhes"
        class="mt-2"
        routerLink="/events/{{ event.id }}"
      />
    </div>
    }
  </div>
</section>

<section class="container mx-auto my-4">
  <h2 class="text-xl font-bold mb-4">Esportes</h2>
  <div class="flex gap-4 w-full justify-between">
    @for (event of eventsHighlighted; track $index) {
    <div class="p-3 flex flex-col gap-3 rounded shadow">
      <img
        [src]="imagesBaseUrl + event.previewImageUrl"
        [alt]="event.title"
        class="w-68 h-48 object-cover rounded mb-2"
      />
      <div>
        <h3 class="text-lg font-semibold">{{ event.title }}</h3>
        <p>{{ event.date | date : "dd/MM/yyyy" }}</p>
      </div>
      <p-button
        icon="pi pi-info"
        styleClass="p-button-outlined"
        label="Ver Detalhes"
        class="mt-2"
        routerLink="/events/{{ event.id }}"
      />
    </div>
    }
  </div>
</section>

<section class="container mx-auto my-4">
  <h2 class="text-xl font-bold mb-4">Shows</h2>
  <div class="flex gap-4 w-full justify-between">
    @for (event of eventsHighlighted; track $index) {
    <div class="p-3 flex flex-col gap-3 rounded shadow">
      <img
        [src]="imagesBaseUrl + event.previewImageUrl"
        [alt]="event.title"
        class="w-68 h-48 object-cover rounded mb-2"
      />
      <div>
        <h3 class="text-lg font-semibold">{{ event.title }}</h3>
        <p>{{ event.date | date : "dd/MM/yyyy" }}</p>
      </div>
      <p-button
        icon="pi pi-info"
        styleClass="p-button-outlined"
        label="Ver Detalhes"
        class="mt-2"
        routerLink="/events/{{ event.id }}"
      />
    </div>
    }
  </div>
</section>

<section class="container mx-auto my-4">
  <h2 class="text-xl font-bold mb-4">Games</h2>
  <div class="flex gap-4 w-full justify-between">
    @for (event of eventsHighlighted; track $index) {
    <div class="p-3 flex flex-col gap-3 rounded shadow">
      <img
        [src]="imagesBaseUrl + event.previewImageUrl"
        [alt]="event.title"
        class="w-68 h-48 object-cover rounded mb-2"
      />
      <div>
        <h3 class="text-lg font-semibold">{{ event.title }}</h3>
        <p>{{ event.date | date : "dd/MM/yyyy" }}</p>
      </div>
      <p-button
        icon="pi pi-info"
        styleClass="p-button-outlined"
        label="Ver Detalhes"
        class="mt-2"
        routerLink="/events/{{ event.id }}"
      />
    </div>
    }
  </div>
</section>

<section class="container mx-auto my-4">
  <h2 class="text-xl font-bold mb-4">Cinema</h2>
  <div class="flex gap-4 w-full justify-between">
    @for (event of eventsHighlighted; track $index) {
    <div class="p-3 flex flex-col gap-3 rounded shadow">
      <img
        [src]="imagesBaseUrl + event.previewImageUrl"
        [alt]="event.title"
        class="w-68 h-48 object-cover rounded mb-2"
      />
      <div>
        <h3 class="text-lg font-semibold">{{ event.title }}</h3>
        <p>{{ event.date | date : "dd/MM/yyyy" }}</p>
      </div>
      <p-button
        icon="pi pi-info"
        styleClass="p-button-outlined"
        label="Ver Detalhes"
        class="mt-2"
        routerLink="/events/{{ event.id }}"
      />
    </div>
    }
  </div>
</section>
