<div class="container">
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-search"></i>
    </p-inputgroup-addon>
    <input
      type="text"
      pInputText
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterEvents()"
      placeholder="Pesquisar eventos..."
    />
  </p-inputgroup>

  <div class="flex gap-3 justify-center my-4">
    <p-tag
      [severity]="selectedCategoryId() === 0 ? 'primary' : 'secondary'"
      value="Todas"
      (click)="setCategory(0)"
      class="cursor-pointer"
    />

    @for (cat of categories(); track cat.id) {
    <p-tag
      [severity]="selectedCategoryId() === cat.id ? 'primary' : 'secondary'"
      value="{{ cat.name }}"
      (click)="setCategory(cat.id)"
      class="cursor-pointer"
    />
    }
  </div>

  <div class="w-full flex flex-col gap-6">
    @for (event of events(); track event.id) {
    <app-list-event-details
      [event]="event"
      [imagesBaseUrl]="imagesBaseUrl"
      class="w-full"
    />
    }
  </div>
</div>
