<h1>Compra do produto novo</h1>

<form
  [formGroup]="formPayment"
  (submit)="onSubmit()"
  class="p-8 border-white border-solid rounded-xs"
>
  <div class="flex flex-col gap-3">
    <div class="flex flex-col gap-3" formGroupName="customer">
      <h2 class="text-2xl">Dados do usuário</h2>
      <div class="flex gap-3">
        <div class="flex flex-col">
          <label for="name">Nome</label>
          <input type="text" pInputText formControlName="name" />
        </div>

        <div class="flex flex-col">
          <label for="name">Email</label>
          <input type="email" pInputText formControlName="email" />
        </div>

        <div class="flex flex-col">
          <label for="name">Documento</label>
          <p-inputmask
            mask="999.999.999-99"
            formControlName="document"
            placeholder="000.000.000-00"
          />
        </div>
      </div>

      <p-divider />

      <h2 class="text-2xl">Número</h2>

      <div class="flex gap-3" formGroupName="phone">
        <div class="flex flex-col">
          <label for="name">Pais</label>
          <input type="text" pInputText formControlName="country" />
        </div>

        <div class="flex flex-col">
          <label for="name">DDD</label>
          <input type="text" pInputText formControlName="area" />
        </div>

        <div class="flex flex-col">
          <label for="name">Número</label>
          <p-inputnumber
            formControlName="number"
            mode="decimal"
            inputId="withoutgrouping"
            [useGrouping]="false"
          />
        </div>
      </div>
    </div>

    <p-divider />

    <div class="flex flex-col gap-3" formGroupName="item">
      <h2 class="text-2xl">Dados do produto</h2>
      <div class="flex gap-3">
        <div class="flex flex-col">
          <label for="name">Nome do Produto</label>
          <input type="text" pInputText formControlName="name" />
        </div>

        <div class="flex flex-col">
          <label for="name">Quantidade</label>
          <p-inputnumber
            formControlName="quantity"
            mode="decimal"
            [showButtons]="true"
            inputId="minmax-buttons"
            [useGrouping]="false"
            [min]="1"
            [max]="100"
          />
        </div>

        <div class="flex flex-col">
          <label for="name">Valor unitário</label>
          <p-inputnumber
            formControlName="unitAmount"
            inputId="currency-brl"
            mode="currency"
            currency="BRL"
            locale="pt-BR"
          />
        </div>

        <div class="flex flex-col">
          <label for="name">Link da imagem</label>
          <input type="text" pInputText formControlName="imageUrl" />
        </div>
      </div>
    </div>

    <p-divider />

    <div class="flex flex-col gap-3">
      <h2 class="text-2xl">Pagamento</h2>
      <div class="flex flex-col">
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-select
            formControlName="paymentMethod"
            inputId="on_label"
            [options]="paymentOptions"
            optionLabel="name"
            styleClass="w-full"
          />
          <label for="on_label">Selecione a forma de pagamento</label>
        </p-floatlabel>
      </div>
    </div>
    <p-button
      label="Enviar"
      type="submit"
      [disabled]="!formPayment.valid"
    />
  </div>
</form>
